{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Home Page Section -->
{% include 'nav_staticpages.html' %}


<!-- itemsList -->
<section id="litigation-list">
    <div class="uk-container content-gap">       
        
        <div id="article-Description">
            <div class="uk-child-width-1@m uk-margin" uk-grid>
                <div>
                    <div class="uk-card uk-card-hover uk-card-body uk-margin-top" uk-scrollspy="cls: uk-animation-slide-top;">
                        <div uk-grid>
                            <div class="uk-width-1-1">
                                <div class="uk-text-center uk-margin">
                                    <p class="zeros-head">ABOUT NAPLES POLICE BEAT</p>
                                    <p class="zeros-sub-head">OUR MISSION STATEMENT</p>
                                </div>
                                <!-- <h3 class="uk-text-center">ABOUT NAPLES POLICE BEAT</h3>
                                <h4 class="uk-text-center"> HELLO AND THANK YOU FOR VISITING NAPLES POLICE BEAT!  </h4>
                                <h4 class="uk-text-center"> OUR MISSION STATEMENT </h4> -->

                                <p class="uk-margin-bottom uk-text-bold uk-text-justify">NAPLESPOLICEBEAT.COM WAS FOUNDED BY CONCERNED CITIZENS IN AN EFFORT TO PROVIDE DAILY UPDATES REGARDING ALLEGED CRIMINAL ACTIVITY AND ARRESTS IN NAPLES, COLLIER COUNTY, AND SOUTHWEST FLORIDA. </p>
                                <p class="uk-margin-bottom uk-text-bold uk-text-justify">HAVE YOU EVER WANTED TO LEARN MORE ABOUT ALLEGED CRIMINAL ACTIVITY THAT THE MEDIA HAS GLOSSED OVER OR NOT COVERED AT ALL? WHY DIDN'T THE MEDIA REPORT ON A BURGLARY IN DOWNTOWN NAPLES? WHY DIDN'T THE MEDIA REPORT ON A DRUG TRAFFIKKER ARRESTED ON GOODLETTE-FRANK ROAD? NOW YOU'LL GET THE ALL THE FACTS AND SUMMARIES OF THE ALLEGATIONS. </p>
                                <p class="uk-margin-bottom uk-text-bold uk-text-justify">OUR COMMUNITY HAS YEAR-ROUND RESIDENTS, SEASONAL RESIDENTS, VACATIONERS, AND OTHER VISITORS WHO WOULD LIKE TO KNOW WHAT'S GOING ON WITH ALLEGED CRIMINAL ACTIVITY IN OUR NEIGHORHOODS.  THE TYPES OF CRIMES AND THE LOCATION OF CRIMES CAN AFFECT MANY DIFFERENT THINGS, FOR EXAMPLE, REAL ESTATE VALUES. </p>
                                <p class="uk-margin-bottom uk-text-bold uk-text-justify">WE ARE HERE TO REPORT ON THE DAILY CRIMINAL ACTIVITY THAT PEOPLE DON'T KNOW ABOUT BUT SHOULD.  WE SUMMARIZE ARREST INFORMATION FOR OUR MEMBERS AND ASSIST IN UNDERSTANDING WHAT IT ALL MEANS. </p>
                                <p class="uk-margin-bottom uk-text-bold uk-text-justify">WE HOPE YOU FIND NAPLESPOLICEBEAT.COM INFORMATIONAL AND USEFUL.  </p>
                                <p class="uk-margin-bottom uk-text-bold uk-text-justify">IF YOU HAVE ANY QUESTIONS OR COMMENTS PLEASE DO NOT HESITATE TO CONTACT US AT NAPLESPOLICEBEAT@GMAIL.COM.  </p>
                                <p class="uk-margin-bottom uk-text-bold uk-text-justify">PURSUANT TO THE UNITED STATES CONSTITUTION, ALL OF THOSE ARRESTED IN AMERICA ARE PRESUMED INNOCENT UNTIL PROVEN GUILTY.  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<!-- Register On the GO -->
<div id="client-request" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">                        
        <button class="uk-offcanvas-close" type="button" uk-close></button>                                                
        <h3 class="uk-h4 zeros-head uk-text-muted">Register</h3>      
        <p class="zeros-sub-head">On the go</p>

        <form class="uk-form-stacked" method="post" action="{% url 'createaccount' %}">{% csrf_token %}
            <div class="uk-margin">
                <label class="uk-form-label" for="client_name">Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="client_name" type="text" name="client_name" placeholder="Full Name">
                </div>
            </div>
        
            <div class="uk-margin">
                <label class="uk-form-label" for="client_phone">Phone Number</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="client_phone" type="text" name="client_phone" placeholder="Phone Number">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="client_email">Email Address</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="client_email" type="email" name="client_email" placeholder="Email Address">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="pass">Password</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="pass" type="password" name="pass" placeholder="Password">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="conf_pass">Confirm Password</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="conf_pass" type="password" name="conf_pass" placeholder="Confirm Password">
                </div>
            </div>
        
            <div class="uk-margin">
                <div class="uk-form-label">Payment Method</div>
                <div class="uk-form-controls">
                    <label><input class="uk-radio" type="radio" name="subscription_type" value="10.0"> 10.0$/Monthly </label><br>
                    <label><input class="uk-radio" type="radio" name="subscription_type" value="90.0"> 90.0$/Yearly </label><br>
                    <label><input class="uk-radio" type="radio" name="subscription_type" value="free"> 0.00$/Month </label>
                </div>
            </div>        
            <div class="uk-margin">
                <button class="uk-button uk-button-danger" type="submit">Register</button>
            </div>    
        </form>
    </div>
</div>

{% include 'footer.html' %}

<!-- <section id="footer">
    <div class="uk-padding">                            
        <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle">
            <a class="uk-navbar-item uk-logo" href="/">Naples Police Beat</a>  
            <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="#">innsire</a>@2020</p>
        </div>                
    </div>
</section> -->
{% endblock %}