{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Home Page Section -->
<section class="main-section">
    <div class="admin-section-top">
        <div>
            <div class="uk-section-secondary uk-preserve-color">
                <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 200">
                    <nav class="uk-navbar-container uk-padding uk-padding-remove-vertical" uk-navbar>
                        <div class="uk-navbar-left">
                            <ul class="uk-navbar-nav">
                                <!-- <a class="uk-navbar-item uk-logo" href="index.html">Logo</a> -->
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'about' %}">About Us</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}">Contact Us</a>
                                </li>
                                <li>
                                    <a href="{% url 'faq' %}">FAQ</a>
                                </li>
                            </ul>                            
                        </div>
                        <div class="uk-navbar-right">                            
                            <ul class="uk-navbar-nav">
                                
                                <li>
                                    <div>
                                        <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
                                        <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                                            <form class="uk-search uk-search-navbar uk-width-1-1">
                                                <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <a href="" uk-toggle="target: #client-request">Register</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="#">{{request.user.username}}</a>                        
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav uk-text-right">
                                            <li class="uk-active"><a href="{% url 'profile' %}">Profile</a></li>
                                            <li><a href="{% url 'changepassword' %}">Change Password</a></li>
                                            <li><a href="{% url 'userLogout' %}">Logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url 'login' %}" uk-toggle>Login</a>
                                </li>  
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- itemsList -->
<section id="litigation-list">
    <div class="uk-container">       
        
        <div id="article-Description">
            <div class="uk-child-width-1@m uk-margin" uk-grid>
                <div>
                    <div class="uk-card uk-card-hover uk-card-body uk-margin-top" uk-scrollspy="cls: uk-animation-slide-top;">
                        <div uk-grid>
                            <div class="uk-width-1-1">
                                <h3 class="uk-text-center">ABOUT NAPLES POLICE BEAT</h3>
                                <h4 class="uk-text-center"> HELLO AND THANK YOU FOR VISITING NAPLES POLICE BEAT!  </h4>
                                <h4 class="uk-text-center"> OUR MISSION STATEMENT </h4>

                                <p class="uk-margin-bottom">NAPLESPOLICEBEAT.COM WAS FOUNDED BY CONCERNED CITIZENS IN AN EFFORT TO PROVIDE DAILY UPDATES REGARDING ALLEGED CRIMINAL ACTIVITY AND ARRESTS IN NAPLES, COLLIER COUNTY, AND SOUTHWEST FLORIDA. </p>
                                <p class="uk-margin-bottom">HAVE YOU EVER WANTED TO LEARN MORE ABOUT ALLEGED CRIMINAL ACTIVITY THAT THE MEDIA HAS GLOSSED OVER OR NOT COVERED AT ALL? WHY DIDN'T THE MEDIA REPORT ON A BURGLARY IN DOWNTOWN NAPLES? WHY DIDN'T THE MEDIA REPORT ON A DRUG TRAFFIKKER ARRESTED ON GOODLETTE-FRANK ROAD? NOW YOU'LL GET THE ALL THE FACTS AND SUMMARIES OF THE ALLEGATIONS. </p>
                                <p class="uk-margin-bottom">OUR COMMUNITY HAS YEAR-ROUND RESIDENTS, SEASONAL RESIDENTS, VACATIONERS, AND OTHER VISITORS WHO WOULD LIKE TO KNOW WHAT'S GOING ON WITH ALLEGED CRIMINAL ACTIVITY IN OUR NEIGHORHOODS.  THE TYPES OF CRIMES AND THE LOCATION OF CRIMES CAN AFFECT MANY DIFFERENT THINGS, FOR EXAMPLE, REAL ESTATE VALUES. </p>
                                <p class="uk-margin-bottom">WE ARE HERE TO REPORT ON THE DAILY CRIMINAL ACTIVITY THAT PEOPLE DON'T KNOW ABOUT BUT SHOULD.  WE SUMMARIZE ARREST INFORMATION FOR OUR MEMBERS AND ASSIST IN UNDERSTANDING WHAT IT ALL MEANS. </p>
                                <p class="uk-margin-bottom">WE HOPE YOU FIND NAPLESPOLICEBEAT.COM INFORMATIONAL AND USEFUL.  </p>
                                <p class="uk-margin-bottom">IF YOU HAVE ANY QUESTIONS OR COMMENTS PLEASE DO NOT HESITATE TO CONTACT US AT NAPLESPOLICEBEAT@GMAIL.COM.  </p>
                                <p class="uk-margin-bottom">PURSUANT TO THE UNITED STATES CONSTITUTION, ALL OF THOSE ARRESTED IN AMERICA ARE PRESUMED INNOCENT UNTIL PROVEN GUILTY.  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section id="footer">
    <div class="uk-padding">                            
        <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle">
            <!-- <a class="uk-navbar-item uk-logo logo-size" href="index.html"><img src="img/logo_2.png" alt="zeros"></a>    -->
            <a class="uk-navbar-item uk-logo" href="/">Naples Police Beat</a>  
            <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="#">innsire</a>@2020</p>
        </div>                
    </div>
</section>
{% endblock %}