{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Home Page Section -->
<section class="main-section">
    <div class="admin-section-top">
        <div>
            <div class="uk-section-secondary uk-preserve-color">
                <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 200">
                    <nav class="uk-navbar-container uk-padding uk-padding-remove-vertical" uk-navbar>
                        <div class="uk-navbar-left">
                            <ul class="uk-navbar-nav">
                                <!-- <a class="uk-navbar-item uk-logo" href="index.html">Logo</a> -->
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'about' %}">About Us</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}">Contact Us</a>
                                </li>
                                <li>
                                    <a href="{% url 'faq' %}">FAQ</a>
                                </li>
                            </ul>                            
                        </div>
                        <div class="uk-navbar-right">                            
                            <ul class="uk-navbar-nav">
                                
                                <li>
                                    <div>
                                        <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
                                        <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                                            <form class="uk-search uk-search-navbar uk-width-1-1">
                                                <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                
                                <li>
                                    <a href="" uk-toggle="target: #client-request">Register</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="#">{{request.user.username}}</a>                        
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav uk-text-right">
                                            <li class="uk-active"><a href="{% url 'profile' %}">Profile</a></li>
                                            <li><a href="{% url 'changepassword' %}">Change Password</a></li>
                                            <li><a href="{% url 'userLogout' %}">Logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url 'login' %}" uk-toggle>Login</a>
                                </li>  
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- itemsList -->
<section id="litigation-list">
    <div class="uk-container">       
        
        <div id="article-Description">
            <div class="uk-child-width-1@m uk-margin" uk-grid>
                <div>
                    <div class="uk-card uk-card-hover uk-card-body" uk-scrollspy="cls: uk-animation-slide-top;">
                        <div uk-grid>
                            <div class="uk-width-1-1">
                                <div id="titleindex">
                                    <h3 class="uk-text-center">GENERALIZED DESCRIPTIONS OF VARIOUS CRIMES </h3>
                                    <h4 class="uk-text-center"> ANY QUESTIONS? EMAIL US AT NAPLESPOLICEBEAT@GMAIL.COM </h4>

                                <!-- <a href="#felony" uk-scroll>FELONY</a> <br>
                                <a href="#misdemeanor" uk-scroll>MISDEMEANOR</a> <br>
                                <a href="#dui" uk-scroll>DRIVING UNDER THE INFLUENCE (DUI) </a> <br>
                                <a href="#assault" uk-scroll>ASSAULT</a> <br>
                                <a href="#battery" uk-scroll>BATTERY</a> <br>
                                <a href="#violence" uk-scroll>DOMESTIC VIOLENCE</a> <br>
                                <a href="#sex" uk-scroll>SEX CRIMES </a> <br>
                                <a href="#theft" uk-scroll>THEFT</a> <br>
                                <a href="#drug" uk-scroll>DRUG CRIMES </a> <br>
                                <a href="#trespassing" uk-scroll>BURGLARY AND TRESPASSING </a> <br>
                                <a href="#mischief" uk-scroll>CRIMINAL MISCHIEF </a> <br>
                                <a href="#weapon" uk-scroll>WEAPON OFFENSES </a> <br>
                                <a href="#driving" uk-scroll>DRIVING OFFENCES OTHER THAN DUI </a> <br>
                                <a href="#arrest" uk-scroll>RESISTING ARREST </a> <br> -->
                                
                                    <a href="#titleindex" uk-scroll>FELONY</a> <br>
                                    <a href="#felony" uk-scroll>MISDEMEANOR</a> <br>
                                    <a href="#misdemeanor" uk-scroll>DRIVING UNDER THE INFLUENCE (DUI) </a> <br>
                                    <a href="#dui" uk-scroll>ASSAULT</a> <br>
                                    <a href="#assault" uk-scroll>BATTERY</a> <br>
                                    <a href="#battery" uk-scroll>DOMESTIC VIOLENCE</a> <br>
                                    <a href="#violence" uk-scroll>SEX CRIMES </a> <br>
                                    <a href="#sex" uk-scroll>THEFT</a> <br>
                                    <a href="#theft" uk-scroll>DRUG CRIMES </a> <br>
                                    <a href="#drug" uk-scroll>BURGLARY AND TRESPASSING </a> <br>
                                    <a href="#trespassing" uk-scroll>CRIMINAL MISCHIEF </a> <br>
                                    <a href="#mischief" uk-scroll>WEAPON OFFENSES </a> <br>
                                    <a href="#weapon" uk-scroll>DRIVING OFFENCES OTHER THAN DUI </a> <br>
                                    <a href="#driving" uk-scroll>RESISTING ARREST </a> <br>
                                </div>
                                


                                <div class="faq-content" id="felony">
                                    <h5>WHAT IS A FELONY?</h5>    
                                    <p>FELONIES ARE CRIMES THAT MAY BE PUNISHABLE BY PRISON TIME. </p>
                                    <p>A FELONY CHARGE IS EITHER A FIRST DEGREE, SECOND DEGREE, OR THIRD DEGREE. </p>
                                    <p>A THIRD DEGREE FELONY IS PUNISHABLE UP TO 5 YEARS IN PRISON.  FOR EXAMPLE, GRAND THEFT IS A THIRD DEGREE FELONY. </p>
                                    <p>A SECOND DEGREE FELONY IS PUNISHABLE BY UP TO 15 YEARS IN PRISON.  FOR EXAMPLY, THE SALE OF SOME CONTROLLED SUBSTANCES  NEAR A SCHOOL IS A 2ND DEGREE FELONY.   </p>
                                    <p>A FIRST DEGREE FELONY IS PUNISHABLE BY UP TO 30 YEARS IN PRISON, LIFE IN PRISON, OR THE DEATH PENALTY.  FOR EXAMPLE, MURDER IS A FIRST DEGREE FELONY AND THE DEFENDANT MAY RECEIVE THE DEATH PENALTY. </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>

                                <div class="faq-content" id="misdemeanor">
                                    <h5>WHAT IS A MISDEMEANOR? </h5>    
                                    <p>MISDEMEANORS ARE CRIMES THAT MAY BE PUNISHABLE BY JAIL TIME.  JAIL IS NOT PRISON.  A JAIL IS A LOCAL DETENTION FACILITY WHERE THOSE WHO HAVE BEEN ARRESTED ARE BOOKED.  IT IS ALSO WHERE THOSE WHO HAVE BEEN SENTENCED TO LESS THAN A YEAR OF JAIL WILL SERVE THEIR TIME.   </p>
                                    <p>A MISDEMEANOR CHARGE IS EITHER A FIRST DEGREE MISDEMEANOR OR A SECOND DEGREE MISDEMEANOR. </p>
                                    <p>A FIRST DEGREE MISDEMEANOR IS PUNISHABLE BY UP TO ONE YEAR IN JAIL.  FOR EXAMPLE, DOMESTIC VIOLENCE BATTERY IS A FIRST DEGREE MISDEMEANOR SO THE MAXIMUM SENTENCE IS ONE YEAR.</p>
                                    <p>A SECOND DEGREE MISDEMEANOR IS USUALLY PUNISHABLE BY UP TO SIXTY DAYS IN JAIL, HOWEVER, THE MAXIMUM SENTENCE MAY VARY DEPENDING UPON THE CRIME.  FOR EXAMPLE, PETIT THEFT OF UNDER $100 IS A 2ND DEGREE MISDEMEANOR AND IS PUNISHABLE BY UP TO 60 DAYS IN JAIL.  </p>
                                    <p>BY CONTRAST, A FIRST OFFENSE DUI IS ALSO A 2ND DEGREE MISDEMEANOR, HOWEVER, IT IS PUNISHABLE BY UP TO 6 MONTHS IN JAIL. </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>


                                <div class="faq-content" id="dui">
                                    <h5>WHAT IS A DUI? </h5>
                                    <p>DUI IS GENERALLY DESCRIBED AS DRIVING A VEHICLE (IE: CAR OR BOAT) WHILE UNDER THE INFLUENCE OF DRUGS OR ALCOHOL AND TO THE EXTENT THAT THE DRIVER'S NORMAL FACULTIES HAVE BECOME IMPAIRED.   </p>
                                    <p>IN SOME CASES, A THIRD DUI CAN BE CHARGED AS A FELONY. </p>
                                    <p>SERIOUS BODILY INJURY TO AN OCCUPANT OF A VEHICLE CAN BE CHARGED WITH A FELONY (INCLUDING THE DRIVER). </p>
                                    <p>IN FLORIDA, A DRIVER WHOSE BLOOD ALCOHOL LEVEL (BAC) IS .08% OR HIGHER IS PRESUMED TO BE IMPAIRED.   </p>
                                    <p>A DRIVER MAY REFUSE THE BREATHALYZER ONCE WITHOUT BEING CHARGED WITH A CRIME.  THEREAFTER, A SUBSEQUENT REFUSAL IS A FIRST DEGREE MISDEMEANOR PUNISHABLE BY UP TO ONE YEAR IN JAIL.   </p>
                                    <p>THE CHARGE OF DUI SOMETIMES MAY BE ACCOMPANIED WITH THE CHARGE OF PROPERTY DAMAGE, HIT AND RUN, INJURY, FLEEING AND ELUDING, OR WITH A MINOR IN THE VEHICLE.   </p>
                                    <p>IF CONVICTED OF A DUI, THE DEFENDANT'S DRIVER'S LICENSE WILL BE SUSPENDED FOR A PERIOD OF TIME.  HOW LONG THE PERSON'S LICENSE WILL BE SUSPENDED DEPENDS UPON THE NUMBER OF PRIOR DUIS, THE FACTS OF THE CASE, THE BLOOD ALCHOL LEVEL,  INJURIES, OR PROPERTY DAMAGE.  IN SOME CASES, A PERSON'S LICENSE MAY BE PERMANENTLY REVOKED.  </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>

                                <div class="faq-content" id="assault">
                                    <h5>WHAT IS AN ASSAULT? </h5>
                                    <p>ASSAULT IS OFTEN CONFUSED WITH BATTERY.  BOTH ARE DISTINCT CRIMES. ASSAULT IS AN ATTEMPT TO COMMIT A BATTERY AND TO PUT THE VICTIM IN FEAR OF A BATTERY.  SIMPLE ASSAULT IS A SECOND DEGREE MISDEMEANOR PUNISHABLE BY UP TO 60 DAYS IN JAIL.  AN ASSAULT  MAY ALSO BE CHARGED AS A FELONY.  FOR EXAMPLE, AN AGGRAVATED ASSAULT USING A DEADLY WEAPON IS FELONY. </p>
                                    <p>A DEADLY WEAPON CAN BE PRETTY MUCH ANYTHING (IE:  FRYING PAN, CAR, BOOK, ETC.). </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>

                                <div class="faq-content" id="battery">
                                    <h5>WHAT IS A BATTERY?  </h5>
                                    <p>BATTERY IS THE UNLAWFUL CONTACT WITH ANOTHER PERSON WITHOUT THEIR PERMISSION.  SIMPLE BATTERY IS A FIRST DEGREE MISDEMEANOR PUNISHABLE BY UP TO ONE YEAR IN JAIL.  IF THE PERSON HAS A PRIOR BATTERY, A SECOND BATTERY CHARGE MAY BE CHARGED AS A FELONY.  A BATTERY CHARGE MAY ALSO BE CHARGED AS A FELONY.  FOR EXAMPLE, AGGRAVATED BATTERY USING A DEADLY WEAPON WEAPON MAY BE CHARGED AS A FELONY. </p>
                                    <p>A DEADLY WEAPON CAN BE PRETTY MUCH ANYTHING (IE:  FRYING PAN, CAR, BOOK, ETC.). </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>


                                <div class="faq-content" id="violence">
                                    <h5>DOMESTIC VIOLENCE </h5>
                                    <p>DOMESTIC VIOLENCE CAN BE EITHER AN ASSAULT OR BATTERY EXCEPT THAT IT IS BETWEEN PEOPLE RELATED TO EACH OTHER OR LIVING TOGETHER. USUALLY THIS TYPE OF CRIME OCCURS BETWEEN A HUSBAND AND WIFE, SIGNIFICANT OTHERS, PARENT AND CHILD, OR ANY OTHER FAMILIAL RELATIONSHIP.  DOMESTIC VIOLENCE MAY BE CHARGED AS A MISDEMEANOR OR FELONY DEPENDING UPON THE FACTS (IE: WAS A DEADLY WEAPON USED).   </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>                                </div>


                                <div class="faq-content" id="sex">
                                    <h5>WHAT ARE SEX CRIMES? </h5>
                                    <p>SEX CRIMES ARE CRIMES INVOLVING A “PURIENT INTEREST”.   PURIENT INTEREST IS DEFINED AS HAVING OR ENCOURAGING AN EXCESSIVE INTEREST IN SEXUAL MATTERS. SEXUAL CRIMES INCLUDE SEXUAL BATTERY, ATTEMPTED SEXUAL BATTERY, SEXUAL ASSAULT, STATUTORY RAPE, OR ANY OTHER OFFENSE INVOLVING A SEXUAL MOTIVE. IN FLORIDA, THESE TYPES OF CRIMES MAY BE DESCRIBED AS LEWD AND LASCIVIOUS CRIMES.  CONSENT IS ALWAYS AN ISSUE, HOWEVER, STATUTORY RAPE IS SEXUAL CONTACT WITH A MINOR.  THE LAW STATES THAT MINORS DO NOT HAVE THE LEGAL ABILITY TO CONSENT, THEREFORE, ANY SEXUALLY MOTIVATED CONTACT WITH A PERSON UNDER THE AGE OF 18 IS ALMOST ALWAYS A FELONY.   </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>


                                <div class="faq-content" id="theft">
                                    <h5>WHAT IS THEFT? </h5>
                                    <p>THEFT IS THE UNLAWFUL TAKING OF PROPERTY THAT BELONGS TO ANOTHER PERSON. THEFT CAN BE CHARGED AS EITHER A MISDEMEANOR (PETIT THEFT) OR A FELONY (GRAND THEFT) AND THE DIFFERENCE DEPENDS UPON THE AMOUNT STOLEN.   </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>


                                <div class="faq-content" id="drug">
                                    <h5>WHAT ARE DRUG CRIMES? </h5>
                                    <p>DRUG CRIMES ARE THE ILLEGAL POSSESSION OF A SUBSTANCE THAT A PERSON IS NOT ENTITLED TO HAVE.  FOR EXAMPLE:  POSSESSION OF A CONTROLLED SUBSTANCE WITHOUT A PRESCRIPTION.  MOST OTHER ILLEGAL POSSESSION CASES ARE SELF-EXPLANITORY (IE: MARIJUANA, COCAINE, HEROIN, METHANPHETAMINE, ETC.) </p>
                                    <p>DRUG TRAFFIKING IS THE TRANSPORTATION OR POSSESSION OF A LARGE QUANTITY OF ILLEGAL DRUGS.  IT IS ALWAYS A FELONY AND FOR SOME TRAFFIKKING CASES IT MAY BE CHARGED AS A FIRST DEGREE FELONY WHICH IS PUNISHABLE BY UP TO 30 YEARS IN PRISON. </p>
                                    <p>POSSESSION OF DRUG PARAPHERNALIA IS HAVING AN ITEM THAT IS SPECIFICALLY BEING USED TO CONSUME OR POSSESS ILLEGAL DRUGS (IE: PIPE, SMOKING DEVICE WITH RESIDUE, STRAW, BAG WITHIN WHICH THE ILLEGAL SUBSTANCE IS CARRIED, ETC.)   </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>


                                <div class="faq-content" id="trespassing">
                                    <h5>WHAT ARE BURGLARY AND TRESPASSING? </h5>
                                    <p>BURGLARY IS THE ILLEGAL ENTERING INTO A HOME, BUILDING, OR VEHICLE TO WHICH THE ARRESTED PERSON HAS NO RIGHT TO BE AND WITH THE INTENT TO COMMIT A CRIME THEREIN.    </p>
                                    <p>TRESSPASSING IS NEARLY THE SAME AS BURGLARY ONLY WITHOUT THE INTENT TO COMMIT A CRIME. TRESPASSING CAN BE ON A PIECE OF PROPERTY, A CONSTRUCTION SITE, OR ANY OTHER PLACE THE ARRESTED PERSON DOES NOT HAVE THE RIGHT TO BE.   </p>
                                    <p>BURLARY IS ALWAYS A FELONY. TRESPASSING IS USUALLY A MISDEMEANOR.  TRESPASSING ON A CONSTRUCTION SITE IS A FELONY. </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>


                                <div class="faq-content" id="mischief">
                                    <h5>WHAT IS CRIMINAL MISCHIEF? </h5>
                                    <p>CRIMINAL MISCHIEF IS THE INTENTIONAL DESTRUCTION OF ANOTHER PERSON'S PROPERTY.  IT MAY BE CHARGED AS A MISDEMEANOR OR A FELONY DEPENDING UPON THE AMOUNT OF DAMAGE. </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>

                                <div class="faq-content" id="weapon">
                                    <h5>WHAT ARE WEAPON OFFENSES? </h5>
                                    <p>WEAPON OFFENCES INCLUDE A CONVICTED FELON IN POSSESSION OF A GUN OR AMMUNITION, CARRYING A CONCEALED WEAPON, AGGRAVATED BATTERY WITH A DEADLY WEAPON, AND AGGRAVATED ASSAULT WITH A DEADLY WEAPON, TO NAME A FEW.   </p>
                                    <p> BE PRETTY MUCH ANYTHING (IE:  FRYING PAN, CAR, OR BOOK, ETC.). </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>

                                <div class="faq-content" id="driving">
                                    <h5>WHAT ARE DRIVING CRIMES OTHER THAN DUI? </h5>
                                    <p>DRIVING WITH A SUSPENDED LICENSE IS A CRIME IF THE DRIVER KNEW OR SHOULD HAVE KNOWN THAT THEIR LICENSE HAS BEEN SUSPENDED.  THIS COULD BE THE RESULT OF NOT PAYING A TRAFFIC TICKET, TOO MANY TICKETS, FAILURE TO PROVIDE PROOF OF INSURANCE, OR A DUI SUSPENSION.  A THIRD VIOLATION FOR DRIVING WITH A SUSPENDED LICENCE IS IS A FELONY.   </p>
                                    <p>NO VALID DRIVER'S LICENSE IS THE CRIME OF NEVER HAVING HAD A DRIVER'S LICENSE.  THIS TYPE OF CRIME IS OFTEN COMMITED BY PEOPLE WHO ARE NOT IN THE UNITED STATES LEGALLY OR BY PEOPLE WHO NEVER RECEIVED A DRIVER'S LICENSE BECAUSE THEY NEVER TRIED TO GET A DRIVER'S LICENSE.  IT IS AWAYS A MISDEMEANOR.  </p>
                                    <p>LEAVING THE SCENE OF AN ACCIDENT, IS SELF EXPLANATORY, HOWEVER, THE DRIVER MUST KNOW THAT THEY HAVE HIT SOMETHING. </p>
                                    <p>FLEEING AND ELUDING IS ATTEMPTING TO DRIVE AWAY FROM THE POLICE IN AN EFFORT TO GET AWAY.  IT IS A FELONY. </p>
                                    <div class="uk-flex uk-margin">
                                        <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                    </div>
                                </div>

                                <div class="faq-content" id="arrest">
                                    <h5>WHAT IS RESISTING ARREST? </h5>
                                    <p>RESISTING ARREST WITHOUT VIOLENCE IS A FIRST DEGREE MISDEMEANOR AND MAY INCLUDE REFUSING TO FOLLOWING A LAWFUL ORDER FROM THE POLICE, STRUGGLING WITH THE POLICE, OR RESISTING WHILE BEING HAND-CUFFED.  </p>
                                    <p>RESISTING ARREST WITH VIOLENCE IS A FELONY. </p>
                                    <p>BATTERY ON A POLICE OFFICER IS A FELONY. </p>
                                </div>

                                <div class="uk-flex uk-flex-center uk-flex-middle">
                                    <p><a class="uk-button uk-button-text" href="#titleindex" uk-scroll>Go Back To Top</a></p>
                                </div>

                                <h4 class="uk-text-center"> ANY QUESTIONS? EMAIL US AT NAPLESPOLICEBEAT@GMAIL.COM </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<!-- Register On the GO -->
<div id="client-request" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">                        
        <button class="uk-offcanvas-close" type="button" uk-close></button>                                                
        <h3 class="uk-h4 zeros-head uk-text-muted">Register</h3>      
        <p class="zeros-sub-head">On the go</p>

        <form class="uk-form-stacked" method="post" action="{% url 'createaccount' %}">{% csrf_token %}
            <div class="uk-margin">
                <label class="uk-form-label" for="client_name">Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="client_name" type="text" name="client_name" placeholder="Full Name">
                </div>
            </div>
        
            <div class="uk-margin">
                <label class="uk-form-label" for="client_phone">Phone Number</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="client_phone" type="text" name="client_phone" placeholder="Phone Number">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="client_email">Email Address</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="client_email" type="email" name="client_email" placeholder="Email Address">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="pass">Password</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="pass" type="password" name="pass" placeholder="Password">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="conf_pass">Confirm Password</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="conf_pass" type="password" name="conf_pass" placeholder="Confirm Password">
                </div>
            </div>
        
            <div class="uk-margin">
                <div class="uk-form-label">Payment Method</div>
                <div class="uk-form-controls">
                    <label><input class="uk-radio" type="radio" name="subscription_type" value="15.0"> 15.0$/Month </label><br>
                    <label><input class="uk-radio" type="radio" name="subscription_type" value="29.99"> 29.99$/Month </label><br>
                    <label><input class="uk-radio" type="radio" name="subscription_type" value="free"> 0.00$/Month </label>
                </div>
            </div>        
            <div class="uk-margin">
                <button class="uk-button uk-button-danger" type="submit">Register</button>
            </div>    
        </form>
    </div>
</div>

<section id="footer">
    <div class="uk-padding">                            
        <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle">
            <!-- <a class="uk-navbar-item uk-logo logo-size" href="index.html"><img src="img/logo_2.png" alt="zeros"></a>    -->
            <a class="uk-navbar-item uk-logo" href="/">Naples Police Beat</a>  
            <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="#">innsire</a>@2020</p>
        </div>                
    </div>
</section>
{% endblock %}