<section id="zeros">    
    <!-- 4th section: Footer Section -->
    <!-- <div class="uk-section uk-section-secondary"> -->
        <div class="uk-section uk-background-cover uk-light uk-panel" uk-parallax="bgy: -200;"  style="background-image: url(/static/img/footer_image.jpg);">
            <div class="uk-overlay-primary uk-position-cover"></div>   
            <div class="uk-container uk-panel uk-panel-box ">
                <!-- <div class="" uk-grid>
                    <div class="uk-width-1-3">
                        <p>Follow Us</p>
                        <hr class="uk-divider-small">
                        <div class="icon-section">                            
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            <i class="fa fa-youtube-square" aria-hidden="true"></i>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="addr">
                            <p>Address: 44/kualalampur, Barisal, America</p>
                            <p>Contact: +88##121321#</p>
                        </div>

                    </div>
                    <div class="uk-width-expand@m">
                        <article class="uk-article">
                            <h3 class="">About Us</h3>
                            <p class="uk-text-break">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                            <p>For any queries please <a class="uk-button uk-button-text" href="contact.html">Contact Us</a></p>
                        </article>
                    </div>
                    <div class="uk-width-auto@m">
                        <a href="#" uk-totop uk-scroll></a>
                    </div>
                </div> -->
                <div class="uk-divider-icon"></div>
                <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="http://www.naplespolicebeat.com">naplespolicebeat.com</a>@2020 <span class="zeros-sub-head copy">Developed by</span> <a target="_blank" href="https://www.innsire.com">innsire</a> </p>                </div>
        <!-- </div> -->
    
</section>