{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="contact">
    <div>
        <div class="uk-grid-collapse" uk-grid>
            <div class="uk-width-1-2@m h-100">
                <div class="h-1-1">
                    <div class="uk-background-cover h-1-1 uk-dark uk-panel uk-flex uk-flex-center uk-flex-middle">
                        <div class="uk-flex uk-flex-column uk-animation-slide-top-small">
                            <div>
                                <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin-bottom">                                        
                                    <h4 class="zeros-sub-head uk-text-center">Naples Police Beats</h4>
                                    <p class="uk-flex uk-flex-center uk-margin-small-bottom">Login With your Credentials</p>
                                    <form class="uk-form-stacked" method="post" action="{% url 'verifylogin' %}">{% csrf_token %}
                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="user">Username</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" id="user" name="user" type="text" placeholder="Username (The Phone Number You provided)">
                                            </div>
                                        </div>
                
                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="pass">Password</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" id="pass" name="pass" type="password" placeholder="Password">
                                            </div>
                                        </div>                            
                                        <button class="uk-button uk-button-primary" type="submit">Submit</button>
                                    </form>
                                    <div class="uk-flex uk-flex-center uk-flex-middle">
                                        <p>New Member? <a class="uk-button uk-button-text" href="registration.html">Create Account</a></p>
                                    </div>
                                </div>
                                <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="#">[i]RONMAMA</a>@2020</p>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>  
            <div class="uk-width-expand@m">
                <div class="h-100">
                    <div class="uk-background-cover uk-dark uk-panel" uk-parallax="bgy: -200" style="background-image: url('/static/img/login.jpg');">
                        <div class="h-100 uk-flex uk-flex-right uk-flex-bottom">
                            <div class="uk-flex-column">
                                <div class="uk-flex uk-flex-column uk-animation-slide-top-small uk-margin-bottom">
                                    <div>
                                        <!-- <img src="img/logo_2.png" width="385" alt="logo" uk-img> -->
                                    </div>                            
                                </div>  
                            </div>                                                  
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section> 
{% endblock %}