<nav class="uk-navbar-container" uk-navbar="mode: click;">
    <div class="uk-navbar-left">
        <!-- <a class="uk-navbar-item uk-logo logo-size" href="index.html"><img src="img/logo_2_w.png" alt="zeros"></a>     -->
        <a class="uk-navbar-item uk-logo" href="dashboard.html">Naples Police Beat</a>    
    </div>
    <div class="uk-navbar-right uk-dark">
        <ul class="uk-navbar-nav uk-iconnav">
            <li>
                <a href="{% url 'dashboard' %}" class="active" uk-toggle><span uk-icon="heart"></span> Dashboard </a>
            </li>      
            <li class="">
                <a href="{% url 'userLogout' %}">Logout</a>
            </li>                                                                 
        </ul>
    </div>
</nav>