{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="content">
    <section class="main-section">
        <div class="main-section-content">
            <div class="uk-position-relative">
                <div>
                    <div class="uk-grid-collapse" uk-grid>
                        <div class="uk-width-1-4@m">
                            <div class="h-100">
                                <div class="uk-background-cover uk-dark uk-panel" uk-parallax="bgy: 200" style="background-image: url(/static/img/login.jpg);">
                                    <div class="h-100 uk-flex uk-flex-right uk-flex-bottom">
                                        <div class="uk-flex-column">

                                        </div>                                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-expand@m h-100">
                            <div class="h-1-1">
                                <div class="uk-background-cover h-1-1 uk-dark uk-panel uk-margin-large uk-padding">
                                    <div class="uk-flex uk-flex-column uk-animation-slide-top-small change-password-position">
                                        <div>
                                            <div class="uk-card uk-card-secondary uk-card-hover uk-card-body">
                                                <h3 class="uk-card-title">Profile Information</h3>
                                            </div>
                                            <div class="uk-card uk-card-default uk-card-hover uk-card-body">                                                    
                                                <div class="uk-margin-small-bottom">    
                                                    <div class="uk-grid" uk-grid>
                                                        <div class="uk-width-1-2@m">
                                                            <h4>Personal Information</h4>
                                                            <hr>
                                                            <dl class="uk-description-list">
                                                                <dt>Name</dt>
                                                                <dd class="uk-text-large">{{ data.name }}</dd>
                                                                <dt>Username</dt>
                                                                <dd class="uk-text-large">{{ data.username }}</dd>
                                                                <dt>Email Address</dt>
                                                                <dd class="uk-text-large">{{ data.email }}</dd>
                                                                <dt>Phone Number</dt>
                                                                <dd class="uk-text-large">{{ data.phone }}</dd>
                                                                <dt>Home Address</dt>
                                                                <dd class="uk-text-large">{{ data.address }}</dd>                                                            
                                                            </dl>  
                                                        </div>
                                                        <div class="uk-width-expand@m">
                                                            <div class="uk-margin-bottom">
                                                                <h4>Subscription</h4>
                                                                <hr>
                                                                <p>You Have subscribed to {{ data.subscription_type }} ({{ data.charge }} $/month)</p>
                                                                <p>If You Want to update the subscription please click on the following link.</p>
                                                                <a class="uk-button uk-button-text" href="#">Update Subscription</a>
                                                            </div>
                                                            <div class="uk-margin-bottom">
                                                                <h4>Change Password</h4>
                                                                <hr>                                                                    
                                                                <p>Please Follow the link to change your password.</p>
                                                                <a class="uk-button uk-button-text" href="{% url 'changepassword' %}">Change Password</a>
                                                            </div>
                                                        </div> 
                                                    </div>                                                                                    
                                                </div>
                                            </div>                                                
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>  
                          
                    </div>
                </div>
                
                {% include 'nav_app.html' %}
            </div>
            
        </div>
    </section>


    <!-- Page Content Section -->
    {% include 'footer.html' %}
</div>
{% endblock %}